.estados {

}

.circulos {
    display: inline-flex
}

.circulo {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    margin: 2px;
}

.semi {
    width: 5px; 
    height: 10px; 
    background: #5cb85c;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    margin: 2px;
}