<div class="main-container">
  <div class="card">
    <div class="card-content" >
      <div class="upper"> <img src="/src/assets/img/imagen-no-disponible.jpg"> </div>
      <div class="midle-content">
          <h3 class="title-midle">Usuario</h3>
          <div> something to here</div>
          <div><img class="icon-24px" src="/src/assets/icons/arrow_down-24px.svg" ></div>
      </div>
      <div class="action-container"> 
          <p >Descricion de la parte inferior</p>
          <p>Agregado a Favorito</p>
          <button >Ver Perfil</button>
      </div>
    </div>
  </div>
</div>