<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" name="nombre" [(ngModel)]="nuevoUsuario.nombre" id="nombre" matInput placeholder="Nombre">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" name="apellido" [(ngModel)]="nuevoUsuario.apellido" id="apellido" matInput placeholder="Apellido" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" name="direccion" [(ngModel)]="nuevoUsuario.direccion" id="direccion" matInput placeholder="Direccion" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="number" name="telefonoCasa" [(ngModel)]="nuevoUsuario.telefonoCasa" id="telefonoCasa" matInput placeholder="Telefono">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="number" name="telefonoCel" [(ngModel)]="nuevoUsuario.telefonoCel" id="telefonoCel" matInput placeholder="Celular">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="password" name="passwordOrigin" [(ngModel)]="nuevoUsuario.passwordOrigin" id="passwordOrigin" matInput placeholder="Contraseña">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="password" name="passwordCopy" [(ngModel)]="nuevoUsuario.passwordCopy" id="passwordCopy" matInput placeholder="Repetir Contraseña">
  </mat-form-field>
  <p>
    <button type="button"

            (click)="guardarUsuario(nuevoUsuario)">Registrar</button></p>
</form>
