<div fxLayoutAlign= "center center">
  <div fxFlex="30" fxLayout="row" fxLayoutAlign= "center center">
    <h2 fxFlex="100" fxLayoutAlign= "center" mat-dialog-title> Agregar una Publicación</h2>
    <div fxFlex="100"  fxLayout="column"  fxLayoutAlign="center start" >
      <form class="classform" fxLayout="column" #publicacionForm="ngForm" (ngSubmit)="onFormSubmit(model)">


        <mat-form-field>
          <input matInput type="text" #inputTitle maxlength="20" placeholder="Titulo de la publicacion" required [(ngModel)]="model.titulo" name="titulo">
          <mat-hint aling="end">{{inputTitle.value?.length || 0 }}/20</mat-hint>
        </mat-form-field >



        <mat-form-field >
          <textarea matInput type="text" #inputDescripcion maxlength="40" placeholder="Escriba una descripcion" required [(ngModel)]="model.descripcion" name="descripcion"></textarea>
          <mat-hint aling="end">{{inputDescripcion.value?.length || 0 }}/40</mat-hint>
        </mat-form-field>


        <mat-form-field >
          <mat-select placeholder="Clase de Producto"  [(ngModel)]="model.tipoProducto" name="tipoProducto" required >
            <mat-option value="carne">Carne</mat-option>
            <mat-option value="pollo">Pollo</mat-option>
            <mat-option value="cerdo">Cerdo</mat-option>
            <mat-option value="otro">Otro</mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="40"  hideRequiredMarker="true">
            <input matInput type="number" placeholder="ingrese cantidad" [(ngModel)]="model.cantidad" name="cantidad" required>
          </mat-form-field>

          <mat-form-field fxFlex="65">
            <mat-select placeholder="Cantidad"  [(ngModel)]="model.tipoCantidad" name="tipoCantidad" >
              <mat-option value="unidades">Unidades</mat-option>
              <mat-option value="kg">Kg</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput type="number" placeholder="Precio Total" [(ngModel)]="model.precio" name="precio" required>
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="cantidad de stock" [(ngModel)]="model.stock" name="stock" required>
        </mat-form-field>


        <span class="separador"></span>
        <button mat-raised-button type="submit" [disabled]="!publicacionForm.valid">Crear Publicación</button>
        <button mat-raised-button type="button" routerLink="/principal" routerLinkActive="active">Cancelar</button>

      </form>
    </div>
  </div>
</div>
