<button (click)="probarSpinner()" > Probar spinner</button>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>

<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
<p> test large </p>
