<div class="card">
  <header>
    <h1>Selina Kyle</h1>
    <h2>User Experience Designer, Hacker, Full-time Fiddler, Part-time Catwoman</h2>
    <img src="https://img00.deviantart.net/a15c/i/2013/207/4/6/igau___catwoman___selina_kyle_dlc_by_postmortacum-d6f7iyv.png" class="avatar" />
  </header>
  <article>
    <p>Selina is, apart from being a heavy caffeine addict, also singlehandedly our most proficient coder. She writes and maintains clean and versatile web applications for our online services, as well as our intranet. In her free time she likes althetics and martial arts training, hanging on top of buildings and seducing Batman.</p>
  </article>

  <footer>
    <h3>Find Selina Kyle online</h3>
    <ul class="list-unstyled">
      <li><a href="https://twitter.com/"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
      <li><a href="https://github.com/"><i class="fa fa-fw fa-github"></i> Github</a></li>
      <li><a href="https://codepen.io/jasper"><i class="fa fa-fw fa-codepen"></i> Codepen</a></li>
    </ul>
    <hr>
    <p class="cf">
      <small>
      <a class="align-left share" href="#"><i class="fa fa-fw fa-share"></i> share</a>
      <a href="#" class="align-right alert">report <i class="fa fa-fw fa-exclamation"></i></a>
      </small>
    </p>
  </footer>
</div> <!--end card-->



<footer class="closure">
<p>Written by <a href="https://twitter.com/tweemeterstudio" target="_blank">Jasper van der Meer</a>.<br><em>Use this code whenever you need and for whatever you want. Enjoy!</em></p>
</footer>