<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" name="nombre" [(ngModel)]="nuevoUsuario.nombre" id="nombre" matInput placeholder="Nombre">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" name="apellido" [(ngModel)]="nuevoUsuario.apellido" id="apellido" matInput placeholder="Apellido" >
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <mat-form-field class="example-full-width">
      <input type="text" name="direccion" [(ngModel)]="nuevoUsuario.direccion" id="direccion" matInput placeholder="Dirección" >
    </mat-form-field>
    <button id="botonValidar" type="button" >Validar</button>
  </div>
  <div id="mapid"></div>
  <p>
    <button type="button" (click)="guardarUsuario()">Registrar</button>
  </p>
</form> 


