.center {
       position: absolute;
       top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.pulse {
    width: 100px;
    height: 100px;
    background: #ff6d4a;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(54, 47, 45, 0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(54, 47, 45, 0);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(54, 47, 45, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(54, 47, 45, 0);
    }
}


.ripple {
    background-position: center;
    transition: background 0.7s;
  }
  .ripple:hover {
    background: #4084f8 radial-gradient(circle, transparent 1%, #3780fd 1%) center/15000%;
  }
  .ripple:active {
    background-color: #031941;
    background-size: 100%;
    transition: background 0s;
  }
