<mat-toolbar class="transparent" fxLayout="row" fxLayoutAlign="start center">
  <img id="titleIcon" height="50" src="../../../../assets/img/logos/2010-Muppets-Logo.png"/>
  <span fxFlex="20"></span>
  <button mat-button fxHide.xs  routerLink="/vistas/forms/product" routerLinkActive="active">Opcion1</button>
  <button mat-button fxHide.xs  routerLink="/vistas/forms/user" routerLinkActive="active"> Opcion2</button>   <!--  *ngIf="getPermission()"  para control de usuario -->
  <button mat-button fxHide.xs  routerLink="/vistas/forms/turnos" routerLinkActive="active"> Opcion3</button>    <!--  *ngIf="getPermission()" para control de usuario -->
  <button mat-button fxHide.xs  routerLink="/vistas/forms/turnos" routerLinkActive="active"> Opcion3</button>    <!--  *ngIf="getPermission()" para control de usuario -->
  <app-menu fxHide.lg></app-menu>
</mat-toolbar>
