<ul>
  <h1>Favoritos</h1>
  <li>
      <img src="/src/assets/img/imagen-no-disponible.jpg">
      <p>lorem ipsum lalalalaskafsfa asffasasf</p>
      <app-tras-button-uno ></app-tras-button-uno>
  </li>
  <li>
      <img src="/src/assets/img/imagen-no-disponible.jpg">
      <p>lorem ipsum lalalalaskafsfa asffasasf</p>
      <app-tras-button-uno ></app-tras-button-uno>
    </li>
    <li>
        <img src="/src/assets/img/imagen-no-disponible.jpg">
        <p>lorem ipsum lalalalaskafsfa asffasasf</p>
        <app-tras-button-uno ></app-tras-button-uno>
      </li>
    
</ul>