@import "../../../assets/scss/main";

/*
Buttons Group
*/

::ng-deep {
    // .buttons-group {
    //     .buttons {
    //         border-radius: 0;
    //     }
    //     .first-child {
    //         border-top-left-radius: $border-icbc-radius-group;
    //         border-bottom-left-radius: $border-icbc-radius-group;
    //     }
    //     .last-child {
    //         border-top-right-radius: $border-icbc-radius-group;
    //         border-bottom-right-radius: $border-icbc-radius-group;
    //     }
    //   }
    .buttons-group {
        .buttons {
            border-radius: 0;
            border: 1px solid #6f6f6f;
            font-size: 0.75rem;
        }
        .first-child {
            border-top-left-radius: $border-icbc-radius-group;
            border-bottom-left-radius: $border-icbc-radius-group;
        }
        .last-child {
            border-top-right-radius: $border-icbc-radius-group;
            border-bottom-right-radius: $border-icbc-radius-group;
            margin-left: -1px;
        }
    }

      .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
        background-color: #565555;
        color:$color-white;

      }
}



/*
Buttons
*/

.buttons {
    font-family: $icbc-family-root;
    font-weight: $book;
    font-size: 0.8rem;
    cursor:pointer;
    // border-radius: $border-icbc-radius;
    padding-left: $padding-icbc-left;
    padding-right: $padding-icbc-right;

    &:focus {
        box-shadow: none!important;
    }

    &__primary {
        background-color: $eb-btn-primary;
        border-color: $eb-btn-primary;
        &:hover {
            background-color: $eb-btn-primary-hover;
            border-color: $eb-btn-primary-hover;
        }
        .active {
            background-color: $eb-btn-primary-hover;
            border-color: $eb-btn-primary-hover;
        }
    }

    &__secondary {
        background-color: $eb-btn-secondary;
        border-color: $eb-btn-secondary;
        &:hover {
            background-color: $eb-btn-secondary-hover;
            border-color: $eb-btn-secondary-hover;
        }
        .active {
            background-color: $eb-btn-secondary-hover;
            border-color: $eb-btn-secondary-hover;
        }
    }

    &__outline {
        background-color: $eb-btn-outline;
        color: $eb-font-color-base;
        // border-color: $eb-btn-outline-hover; 
        &:hover, &:focus {
            background-color: #989898;
            color: #fff;
            box-shadow: inset 0px 0px 8px 2px #6f6f6f!important;
        }
        &--active {
            background-color: #989898!important;
            color: #fff!important;
            box-shadow: inset 0px 0px 8px 2px #6f6f6f!important;
  
        }
    }

    &--disabled {
        pointer-events: none;
        opacity: .65;
    }

}
