.main{
    position: absolute;
    height: 100%;
    width: 100%;
}

.item-uno {
    width: 50%;
    
}

.item-container {
    width: 100%;
    background: lightgray;
}

.title {
    background: black;
    text-align: center;
    color: azure;
    margin: 0;
}

