<div class="main-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="overlay"></div>  
  <p [@flyLeftToRigth]="state">
    Ingrese texto en esta linea de comentario
    <br/> Ingrese texto en esta linea de comentario
    <br/> Ingrese texto en esta linea de comentario
    <br/> Ingrese texto en esta linea de comentario
    <br/> Ingrese texto en esta linea de comentario
    <br/> Ingrese texto en esta linea de comentario
  </p>
  <form class="example-formulario" [@flyRigthToLeft]="state">
    <mat-form-field class="example-full-width">
      <input type="text" name="nombre" [(ngModel)]="consulta.nombre" id="nombre" matInput placeholder="NOMBRE">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" name="email" [(ngModel)]="consulta.email" id="email" matInput placeholder="CORREO ELECTRONICO">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="number" name="telefono" [(ngModel)]="consulta.telefono" id="telefono" matInput placeholder="NUMERO DE TELEFONO">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" name="localizacion" [(ngModel)]="consulta.localizacion" id="localizacion" matInput placeholder="CIUDAD/PROVINCIA">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" name="mensaje" [(ngModel)]="consulta.mensaje" id="mensaje" matInput placeholder="MENSAJE">
    </mat-form-field>
    <p>
      <button class="example-bottom" style="margin-left:67%" type="button" (click)="guardarConsulta()">ENVIAR</button>
    </p>
  </form>
</div>
