<div class="container">
  <div class="sidebar">
    <nav>
        <ul>
          <li><a href="#"> About </a></li>
          <li><a href="#"> Portfolio </a></li>
          <li><a href="#"> Blog </a></li>
          <li><a href="#"> Contact </a></li>
        </ul>
    </nav>
  </div>
  <div class="content">
    <div class="hero" >
      <img src="/src/assets/img/imagen-no-disponible.jpg" >
      <div class="hero-content" >
        <h1>Nombre de usuarios</h1>
        <p> Aca va elgo que escribir sobre el usuario para que el texto no quede solo asi no mas </p>
        <a href="" class="action-btn">Hire Me</a>
      </div>
    </div>
  </div>
  <div class="footer" >
    <footer>
      <ul>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>3k</p></a> </li>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>2k</p></a> </li>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>5k</p></a> </li>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>10k</p></a> </li>
      </ul>
    </footer>
  </div>   
</div>