<div class="main-container">
    <div class="product" >
        <div class="imgbox">
            <img src="/src/assets/img/imagen-no-disponible.jpg">
        </div>
        <div class="details">
            <h2>Brand Name<br><span> Description product below </span></h2>
            <div class="price"> $XX.XX </div>
        </div>
        <label> Options </label>
        <ul>
            <li>op1</li>
            <li>op2</li>
            <li>op3</li>
            <li>op4</li>
            <li>op5</li>
            <li>op6</li>
        </ul>
        <label>Seconds Opts </label>
        <ul>
            <li>op1</li>
            <li>op2</li>
            <li>op3</li>
            <li>op4</li>
            <li>op5</li>
            <li>op6</li>
        </ul>
        <a href="">Add To Cart</a>
    </div>
</div>    